
<h1>Welcome to my Blog </h1>

<div class="row">
	<div class="large-4 rows">
	<h4 class="sub_row1">Genii Technologies</h4>
	</div>
	<div class="large-8 rows">
		<p class="panel">
			We are Genii.
			Here we take our tag line pretty seriously. Its a part of everything we do. We keep improving, we keep evolving, we keep learning. Here we are always building. <span class="tag">Building beautiful.</span>
		</p>
	</div>
</div>
<!-- 
<%= link_to 'My Blog', controller: 'articles' %>
-->