.head1
{
	margin-left: 20px;
	margin-top:10px;
	margin-bottom: 0px;
}
.article_btn
{
	position: relative;
	left: 50%;
	padding: 10px;
}
.head2
{

	margin-top:10px;
	margin-bottom: 10px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;

}

.container
{
	margin-top: 5%;
}
.container2,.container3
{
	margin-left: 5%;
}
.blog_content{
	color: #000000;
}